.postArticle {
  margin-top: 94px;
  margin-bottom: 794px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
}

.headerText {
  color: var(--Secondary-800, #1f2937);

  /* pretendard/xl-20px-bold */
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 160% */
}

.box {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 12px;
}

.text {
  color: var(--Secondary-800, #1f2937);

  /* pretendard/2lg-18px-bold */
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 144.444% */
}

.input {
  display: flex;
  width: 100%;
  height: 56px;
  padding: 16px 24px;

  border-radius: 12px;
  background: var(--Cool-Gray-100, #f3f4f6);

  border: none;

  color: var(--Secondary-800, #1f2937);

  /* pretendard/lg-16px-regular */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.input::placeholder {
  color: var(--Secondary-400, #9ca3af);

  /* pretendard/lg-16px-regular */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.input:focus {
  outline: none;
}

.textarea {
  height: 282px;
  resize: none;
}
